@mixin flexCenter {
    display: flex;
    justify-content: center;
}

.box {
    background-color: transparent;
    box-shadow: none;
}

.table-header {
    @include flexCenter();
    background-color: transparent;
    font-size: 1.4rem;
    color: white;
}

.recommend-table {
    @include flexCenter();
    background-color: transparent;

    .table {
        background-color: rgba(0, 0, 0, 0.329);
        color: white;

        th {
            color: white;
        }
    }
}

.column {
    margin-top: 3%;
    @include flexCenter();

    select,
    input,
    button {
        width: 220px;
        background-color: rgba(0, 0, 0, 0.329);
        color: white;

        &::placeholder {
            color: white;
        }

        &:hover {
            color: white;
        }
    }
}

@media all and (max-width: 1380px) {
    .column {

        select,
        input,
        button {
            width: 170px;
        }
    }
}

@media all and (max-width: 1080px) {
    .column {

        select,
        input,
        button {
            width: 160px;
        }
    }
}

@media all and (max-width: 1023px) {
    .column {

        select,
        input,
        button {
            width: 200px;
        }
    }
}

@media all and (max-width: 768px) {
    .column {

        select,
        input,
        button {
            width: 170px;
        }
    }

    .table-header {
        font-size: 1.3rem;
    }
}