@mixin flexCenter {
	display: flex;
	justify-content: center;
}

.map {
	@include flexCenter();
	position: relative;
	// scroll
	overflow: auto;
	width: 80%;
	width: 75.5%;
	padding-top: 45%;
	border-radius: 5px;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.for-mobile,
#mobile {
	display: none;
}

// @media all and (max-width: 1350px) {
// 	.map {
// 		margin-top: 4%;
// 	}
// }

// @media all and (max-width: 1180px) {
// 	.map {
// 		margin-top: 7%;
// 	}
// }

@media all and (max-width: 1000px) {
	.for-mobile {
		@include flexCenter();
		font-size: 2rem;
		margin-top: 30%;
		background-color: transparent;
		box-shadow: none;

		a {
			color: white;

			&:hover {
				color: rgba($color:white, $alpha: 0.7);
			}
		}

		.blink_me {
			animation: blinker 2s;
			animation-iteration-count: 5;
			animation-delay: 2s;
		}

		@keyframes blinker {
			50% {
				opacity: 0;
			}
		}
	}

	.map {
		display: none;
	}
}

@media all and (max-width: 414px) {
	#mobile {
		display: block;
		// position: fixed;
		box-sizing: border-box;
		width: 70vw;
		height: 50vw;
		z-index: 500;
		margin-left: 10%;
		#phone {
			opacity: 0;
			// position: absolute;
			width: 25vw;
			animation: rotate-move 5s 2s ease-in-out infinite both;
			animation-duration: 5s;
			animation-timing-function: ease-in-out;
			animation-delay: 0s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			animation-fill-mode: both;
			animation-play-state: running;
		}
	}

	@keyframes rotate-move {
		0% {
			opacity: 0;
			transform: translate(0vw, 0vw) rotate(0deg);
		}

		20% {
			opacity: 1;
			transform: translate(0vw, 0vw) rotate(0deg);
		}

		40% {
			opacity: 1;
			transform: translate(0vw, 0vw) rotate(0deg);
		}

		80% {
			opacity: 1;
			transform: translate(30vw, 12vw) rotate(90deg);
		}

		100% {
			opacity: 0;
			transform: translate(30vw, 12vw) rotate(90deg);
		}
	}
}
