body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(image/elder.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(58, 45, 4, 0.6)), to(rgba(0, 0, 0, 0.7)));
  background: url(image/elder.jpg), linear-gradient(rgba(58, 45, 4, 0.6), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 300;
}

body .container {
  height: 250px;
  padding: 40px;
  border-radius: 15px;
}

body .container .form {
  width: 250px;
  font-size: 20px;
  font-weight: 300;
}

body .container .form .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .form .submit-button button {
  margin: 20px;
  height: 40px;
  width: 110px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

body .container .form .submit-button button:hover {
  color: #fff06c;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .container .form .submit-button button:hover a {
  color: #fff06c;
}

body .container .form .submit-button button a {
  text-decoration: none;
  color: white;
}

body .container .form input,
body .container .form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width: 160px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

body .container .form input:hover, body .container .form input:focus,
body .container .form select:hover,
body .container .form select:focus {
  background-color: rgba(255, 215, 0, 0.3);
}

body .recommend-table {
  height: 500px;
  width: 950px;
}

body .recommend-table .table-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

body .rating ::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
}

body .rating :-ms-input-placeholder {
  color: white;
  font-weight: 300;
}

body .rating ::-ms-input-placeholder {
  color: white;
  font-weight: 300;
}

body .rating ::placeholder {
  color: white;
  font-weight: 300;
}

body table {
  border-collapse: collapse;
}

body table th,
body table td {
  font-size: 18px;
  border: 0.05px solid #cacaca;
  padding: 8px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 0.5;
}

body > div.container > form > div.rating > input[type=number] {
  width: 145px;
}
/*# sourceMappingURL=form.css.map */