@import "_mainTheme";

.project-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	h1 {
		padding-top: 150px;
		color: white;
		animation: fadein 3s;
	}
	h2 {
		color: white;
		animation: fadein 3s;
	}
}
.buttons {
	display: flex;
	justify-content: center;
	margin: 20px;
	button {
		margin: 20px;
		height: 40px;
		width: 110px;
		background-color: transparent;
		color: white;
		font-size: 18px;
		border-radius: 3px;
		border: 1px solid;
		transition: transform 0.4s;
		&:hover {
			color: rgb(255, 240, 108);
			border: 2px solid;
			a {
				color: rgb(255, 240, 108);
			}
			transform: scale(1.08);
		}
		a {
			text-decoration: none;
			color: white;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
