body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	.navbar {
		position: fixed;
		right: 0;
		margin-right: 50px;
		ul {
			list-style-type: none;
			margin-top: 30px;
			li {
				margin: 15px;
				float: left;
				a {
					color: white;
					text-decoration: none;
					font-size: 20px;
					font-weight: 300;
					&:hover {
						// color: rgb(255, 240, 108);
						text-shadow: -0.3px 0 grey, 0 0.3px grey, 0.3px 0 grey, 0 -0.3px grey;
					}
				}
			}
		}
	}
	.container {
		background: url(image/three_gen.jpg), linear-gradient(rgba(102, 82, 18, 0.4), rgba(0, 0, 0, 0.5));
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-blend-mode: overlay;
		color: #fff;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h1 {
			font-size: 50px;
			animation: fadein 3s;
		}
		h2 {
			margin-top: -20px;
			font-size: 30px;
			animation: fadein 3s;
		}
	}
	.button-container {
		display: flex;
		justify-content: center;
		button {
			margin: 20px;
			height: 40px;
			width: 110px;
			background-color: transparent;
			color: white;
			font-size: 18px;
			border-radius: 3px;
			border: 1px solid;
			transition: transform 0.4s;
			&:hover {
				color: rgb(255, 240, 108);
				border: 2px solid;
				a {
					color: rgb(255, 240, 108);
				}
				transform: scale(1.08);
			}
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
